* {
    padding: 0px;
    margin: 0px;
}

p {
    font-size: 1em;
}
body {
    margin-left: 5px;
}
.container {
    background-color: #363062;
    height: 550px;
    width: 970px;
    position: relative;
    /* margin: 0px; */

}

.title {
    background-color: rgb(189, 40, 77);
    border-radius: 5px;
    color: gainsboro;
    height: 40px;
    width: 930px;
    margin: 0px auto;
    position: absolute;
    top: 10px;
    left: 10px;
    /* padding-top: 5px; */
    padding: 5px;
    font-size: 25px;
}

.list {
    /* min-height: 220px; */
    width: 100px;
    background-color: #00bdaa;
    color: thistle;
    border-radius: 10px;
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
    display: inline-block;
}
/* 
.parent_list {
    list-style-type: circle;
    margin: 20px;
} */

#material {
    background-color: #000839;
    color: white;
    width: 700px;
    height: 375px;
    display: inline-block;
    margin: 20px;
    margin-top: 70px;
    border-radius: 10px;
    vertical-align: top;
    padding: 15px;
    font-size: 1em;
}

.list li{
    padding: 0px 15px;
    font-size: .5em;
    color: whitesmoke;
}

a {
    color: white;
}
ul li {
    color: white;
    padding: 0px;
}

.vocab {
    text-decoration: underline;
}

.def { 
    color: rgb(144, 144, 206);
}

.definition {
    font-size: .75em;
}

.footer {
    background-color: rgb(131, 122, 122);
    width: 930px;
    height: 30px;
    padding: 5px;
    /* padding-top: 7px; */
    border-radius: 5px;
    margin: 0px auto;
    font-size: .8em;
    color: lightgrey;
    position: absolute;
    top: 500px;
    left: 10px;
}

.definition li {
    padding: auto 20px;
    font-size: 12px;
}

#material p {
    font-size: 12px;
    padding: 5px;
}